<!DOCTYPE html>
<html>
<head>
    <title>Leaders.st Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

<!-- GLOBAL LOADER -->
<div id="globalLoader" class="loader-overlay">
    <div class="loader-container">
        <img src="{{ url_for('static', filename='images/loader-logo.png') }}" class="loader-logo" style="border-radius: 20px;">
        <div class="loader-ring"></div>
    </div>
</div>

<div class="login-container">

    <h2 class="login-title">Welcome Back</h2>

    {% if error %}
        <div class="error-message">{{ error }}</div>
    {% endif %}

    <form method="POST" onsubmit="showLoader()">

        <!-- Email -->
        <div class="form-group">
            <input type="email" name="email" id="email" required>
            <label for="email" class="floating-label">Email</label>
        </div>

        <!-- Password -->
        <div class="form-group">
            <input type="password" name="password" id="password" required>
            <label for="password" class="floating-label">Password</label>

            <span class="show-pass" onclick="togglePass()">👁</span>
        </div>

        <button type="submit" class="login-btn" onsubmit="showLoader()">Login</button>

    </form>

    <div class="sub-links">
        <a href="/forgot-password" onsubmit="showLoader()">Forgot Password?</a>
    </div>

</div>

<script>
const loader = document.getElementById("globalLoader");

    function showLoader() {
        if (loader) loader.classList.remove("hidden");
    }

    function hideLoader() {
        if (loader) loader.classList.add("hidden");
    }

    // Hide loader when page fully loads
    window.addEventListener("load", () => {
        hideLoader();
    });
    
function togglePass() {
    const p = document.getElementById("password");
    p.type = p.type === "password" ? "text" : "password";
}
</script>

</body>
</html>






