<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<!-- GLOBAL LOADER -->
<div id="globalLoader" class="loader-overlay">
    <div class="loader-container">
        <img src="{{ url_for('static', filename='images/loader-logo.png') }}" class="loader-logo" style="border-radius: 20px;">
        <div class="loader-ring"></div>
    </div>
</div>

<div class="reset-container">
    <div class="reset-card">

        <h2>Reset Password</h2>

        {% if error %}
            <div class="form-error">{{ error }}</div>
        {% endif %}

        <form method="post" class="reset-form">
            <input
                type="password"
                name="password"
                placeholder="Enter new password"
                required
            >

            <button type="submit">Reset Password</button>
        </form>

        <div class="reset-links">
            <a href="/login">Back to Login</a>
        </div>

    </div>
</div>

<script>
    const loader = document.getElementById("globalLoader");

    function showLoader() {
        if (loader) loader.classList.remove("hidden");
    }

    function hideLoader() {
        if (loader) loader.classList.add("hidden");
    }

    // Hide loader when page fully loads
    window.addEventListener("load", () => {
        hideLoader();
    });
</script>

</body>
</html>







